Package: com.apple.appledefault6
Name: AppleDefault6
Depends:
Version: 1.0
Architecture: iphoneos-arm
Description: Apple Live Wallpapers for the 6 and below! WILL OVERRIDE AppleReversal wallpapers!
Maintainer: shaundegr8 <shaundegr8@gmail.com>
Author: shaundegr8 <shaundegr8@gmail.com>
Section: Wallpaper
