Package: com.jbhub.stevemach
Name: Steve Mach Portal Icon
Depends: Anemone
Version: 1.0
Architecture: iphoneos-arm
Description: Steve Jobs for the Mach_Portal icon!
Depiction: http://shaundegr8.github.io/depic/?p=com.jbhub.stevemach
Homepage: http://shaundegr8.github.io
Maintainer: shaundegr8 <shaundegr8@gmail.com>
Author: JailBreakHub <shaundegr8@gmail.com>
Section: Themes
