Package: com.shaundegr8.jarvisforsiri
Name: JarvisForSiri
Depends:
Version: 1.0
Architecture: iphoneos-arm
Description: Change Siri start up sounds into J.A.R.V.I.S! Change to Male UK Siri for best effect!
Depiction: http://shaundegr8.github.io/depic/?p=com.shaundegr8.jarvisforsiri
Homepage: http://shaundegr8.github.io
Maintainer: shaundegr8 <shaundegr8@gmail.com>
Author: shaundegr8 <shaundegr8@gmail.com>
Section: Themes (UISounds)
