Package: com.shaundegr8.applereversal
Name: AppleReversal
Depends:
Version: 2.2
Architecture: iphoneos-arm
Description: Apple Live Wallpapers with the Reversal effect for iPhone 6 and below!
Depiction: http://shaundegr8.github.io/depic/com.shaundegr8.applereversal/info.html
Homepage: http://shaundegr8.github.io
Maintainer: shaundegr8 <shaundegr8@gmail.com>
Author: shaundegr8 <shaundegr8@gmail.com>
Section: Wallpaper
