Package: com.shaundegr8.applereversal2
Name: AppleReversal2
Depends:
Version: 2.0
Architecture: iphoneos-arm
Description: Apple Live Wallpapers with the Reversal effect for iPhone 6 and below!
Depiction: http://shaundegr8.github.io/depic/?p=com.shaundegr8.applereversal2
Maintainer: shaundegr8 <shaundegr8@gmail.com>
Author: shaundegr8 <shaundegr8@gmail.com>
Section: Wallpaper
